osx/
windows/
linux_x64/
aix/
linux_s390x/
linux_ppc64le/

# Ignore build outputs, temporary directories
build
.gradle

# Ignore Finder, Explorer files
Thumbs.db
.DS_Store
._*

# Ignore IDE files
.idea
*.iml

# Ignore VS Code / Eclipse IDE files
**/*.classpath
**/*.project
**/*.settings
.java-version
.vscode

# Ignore build artifacts from packagers
**/*/bin

node_modules/
wix/Workdir/
tmp/
