osx/
windows/
linux_x64/
aix/
linux_s390x/
linux_ppc64le/

# Ignore build outputs, temporary directories
build
.gradle
bin

# Ignore Finder, Explorer files
Thumbs.db
.DS_Store
._*

# Ignore IDE files
.idea
*.iml
**/*.settings
**/*.project
**/*.classpath
.java-version
.vscode

node_modules/
wix/Workdir/
