<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
  <title>AdoptOpenJDK</title>
  <welcome file="welcome.html" />
  <conclusion file="conclusion.html" />
  <pkg-ref id="{identifier}" />
  <pkg-ref id="{jfx_identifier}" />
  <options customize="always" require-scripts="false" />
  <license file="license.rtf"/>
  <choices-outline>
    <line choice="default"/>
    <line choice="OpenJFX" />
  </choices-outline>
  <choice id="default" title="AdoptOpenJDK {full_version}" start_enabled="false" visible="true">
      <pkg-ref id="{identifier}" />
  </choice>
  <pkg-ref id="{identifier}" version="{full_version}" onConclusion="none">OpenJDK.pkg</pkg-ref>
  <choice id="OpenJFX" visible="true" start_selected="false" title="OpenJFX">
    <pkg-ref id="{jfx_identifier}"/>
  </choice>
  <pkg-ref id="{jfx_identifier}" version="{full_version}" onConclusion="none">OpenJFX.pkg</pkg-ref>
</installer-gui-script>
