<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
  <title>AdoptOpenJDK</title>
  <welcome file="welcome.html" />
  <conclusion file="conclusion.html" />
  <background file="background.png" alignment="topleft" mime-type="image/png" />
  <pkg-ref id="{identifier}" />
  <options customize="never" require-scripts="false" />
  <license file="license.rtf"/>
  <choices-outline>
    <line choice="default">
      <line choice="{identifier}" />
    </line>
  </choices-outline>
  <choice id="default" />
  <choice id="{identifier}" visible="false">
    <pkg-ref id="{identifier}" />
  </choice>
  <pkg-ref id="{identifier}" version="{full_version}" onConclusion="none">{file}</pkg-ref>
</installer-gui-script>
