<html>
 <head>
    <style>
      body {
        font-family: Helvetica;
        font-size: 14px;
      }
    </style>
 </head>
 <body>
   <div>
    <p>This package will install:</p>
    <ul>
      <li>{package-name} {full_version} to <code>/Library/Java/JavaVirtualMachines/{directory}</code></li>
    </ul>
  </div>
 </body>
</html>
