Source: temurin-24-jdk
Section: java
Priority: optional
Maintainer: Eclipse Adoptium Package Maintainers <temurin-dev@eclipse.org>
Build-Depends: debhelper (>= 11), lsb-release

Package: temurin-24-jdk
Architecture: {{ hardware_architecture }}
Depends: adoptium-ca-certificates,
         java-common,
         libasound2,
         libc6,
         libx11-6,
         libfontconfig1,
         libfreetype6,
         libxext6,
         libxi6,
         libxrender1,
         libxtst6,
         zlib1g
Recommends: fonts-dejavu-core,
            fonts-dejavu-extra
Provides: java-compiler,
          java-sdk,
          java-sdk-headless,
          java10-sdk,
          java11-sdk,
          java12-sdk,
          java13-sdk,
          java14-sdk,
          java15-sdk,
          java16-sdk,
          java17-sdk,
          java18-sdk,
          java2-sdk,
          java5-sdk,
          java6-sdk,
          java7-sdk,
          java8-sdk,
          java9-sdk,
          java10-sdk-headless,
          java11-sdk-headless,
          java12-sdk-headless,
          java13-sdk-headless,
          java14-sdk-headless,
          java15-sdk-headless,
          java16-sdk-headless,
          java17-sdk-headless,
          java18-sdk-headless,
          java19-sdk-headless,
          java2-sdk-headless,
          java20-sdk-headless,
          java21-sdk-headless,
          java22-sdk-headless,
          java23-sdk-headless,
          java24-sdk-headless,
          java5-sdk-headless,
          java6-sdk-headless,
          java7-sdk-headless,
          java8-sdk-headless,
          java9-sdk-headless,
          java-runtime (= 24),
          java-runtime-headless (= 24),
          java10-runtime,
          java11-runtime,
          java12-runtime,
          java13-runtime,
          java14-runtime,
          java15-runtime,
          java16-runtime,
          java17-runtime,
          java18-runtime,
          java19-runtime,
          java2-runtime,
          java20-runtime,
          java21-runtime,
          java22-runtime,
          java23-runtime,
          java24-runtime,
          java5-runtime,
          java6-runtime,
          java7-runtime,
          java8-runtime,
          java9-runtime,
          java10-runtime-headless,
          java11-runtime-headless,
          java12-runtime-headless,
          java13-runtime-headless,
          java14-runtime-headless,
          java15-runtime-headless,
          java16-runtime-headless,
          java17-runtime-headless,
          java18-runtime-headless,
          java19-runtime-headless,
          java2-runtime-headless,
          java20-runtime-headless,
          java21-runtime-headless,
          java22-runtime-headless,
          java23-runtime-headless,
          java24-runtime-headless,
          java5-runtime-headless,
          java6-runtime-headless,
          java7-runtime-headless,
          java8-runtime-headless,
          java9-runtime-headless
Description: Eclipse Temurin 24 JDK
 Eclipse Temurin JDK is an OpenJDK-based development environment to create
 applications and components using the programming language Java.
