temurin-8-jre ({{ package_version }}-{{ package_release_version }}) stable; urgency=medium

  * Eclipse Temurin {{ package_version }}-{{ package_release_version }} release.

 -- Eclipse Adoptium Package Maintainers <temurin-dev@eclipse.org>  {{ current_date }}
 