Source: temurin-8-jre
Section: java
Priority: optional
Maintainer: Eclipse Adoptium Package Maintainers <temurin-dev@eclipse.org>
Build-Depends: debhelper (>= 11), lsb-release

Package: temurin-8-jre
Architecture: {{ hardware_architecture }}
Depends: adoptium-ca-certificates,
         fonts-dejavu,
         java-common,
         libasound2,
         libatomic1 [armhf],
         libc6,
         libfontconfig1,
         libfreetype6,
         libx11-6,
         libxext6,
         libxi6,
         libxrender1,
         libxtst6,
         zlib1g
Recommends: fonts-dejavu-core,
            fonts-dejavu-extra
Provides: java-runtime (= 8),
          java-runtime-headless (= 8),
          java2-runtime,
          java5-runtime,
          java6-runtime,
          java7-runtime,
          java8-runtime,
          java2-runtime-headless,
          java5-runtime-headless,
          java6-runtime-headless,
          java7-runtime-headless,
          java8-runtime-headless
Description: Eclipse Temurin 8 JRE
 Eclipse Temurin JRE is an OpenJDK-based runtime environment to execute
 Java applications and services.
