<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)Includes\$(var.ProductSku).Variables.wxi ?>

  <Product Id="$(var.ProductId)" Name="$(var.ProductNameWithVersion)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package Description="$(var.PackageDescription)" Manufacturer="$(var.ProductManufacturer)" InstallerVersion="200" Compressed="yes" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeDenied)"/>
    <Media Id="1" Cabinet="Data1.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="ARPHELPLINK" Value="!(loc.ProductHelpLink)" />
    <Property Id="ARPURLINFOABOUT" Value="!(loc.ProductUrlInfoAbout)" />
    <Property Id="ARPURLUPDATEINFO" Value="!(loc.ProductUrlUpdateInfo)" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />
    <Property Id="ORACLE_VERSION_KEY" Value="$(var.OracleVersionKey)" />
    <Property Id="ORACLE_JAVASOFT_BASE_KEY" Value="$(var.OracleJavasoftBaseKey)" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
    <Icon Id="logo.ico" SourceFile="$(var.SetupResourcesDir)\logo.ico" />

    <!-- Windows 7 and later is required. -->
    <Condition Message="!(loc.OSVersionRequired)"><![CDATA[Installed OR VersionNT >= 601]]></Condition>
    <Condition Message="!(loc.ProductIsNotSupportedOnItanium)"><![CDATA[(Not ITANIUM = "Itanium") AND (Not ITANIUM = "Itanium 2")]]></Condition>

    <!--
      We may need to be able to install JDK in parallel. Therefore an in-place
      upgrade need to be disabled. Keep the code as reference in case we allow
      this in future or with JRE.
      <Upgrade Id="$(var.ProductUpgradeCode)">
        <UpgradeVersion OnlyDetect="yes" Minimum="$(var.ProductVersion)" Property="NEWPRODUCTFOUND" IncludeMinimum="no" />
        <UpgradeVersion Minimum="$(var.RTMProductVersion)" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" Property="UPGRADEFOUND" IncludeMaximum="no" MigrateFeatures="yes" />
      </Upgrade>
      <CustomAction Id="PreventDowngrading" Error="!(loc.NewerVersionInstalled)" />

      <InstallExecuteSequence>
        <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
        <RemoveExistingProducts After="InstallFinalize" />
      </InstallExecuteSequence>
      <InstallUISequence>
        <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      </InstallUISequence>
    -->

    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
    <?if $(env.Platform)=x86?>
        <Directory Id="ProgramFilesFolder">
            <Directory Id="PRODUCTMANUFACTURER" Name="$(var.ProductManufacturer)">
                <Directory Id="INSTALLDIR" Name="$(var.AppFolder)" />
            </Directory>
        </Directory>
    <?elseif $(env.Platform)=x64?>
        <Directory Id="ProgramFiles64Folder">
            <Directory Id="PRODUCTMANUFACTURER" Name="$(var.ProductManufacturer)">
                <Directory Id="INSTALLDIR" Name="$(var.AppFolder)" />
            </Directory>
         </Directory>
    <?else?>
        <!-- unknown arch > build must failed without directory-->
    <?endif?>
    </Directory>

    <!--
      RemoveFolderEx requires that we "remember" the path for uninstall.
      This workaround is only required for the uninstall.
    -->
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="INSTALLDIR_REGSEARCH" Root="HKLM" Key="SOFTWARE\$(var.ProductManufacturer)\$(var.ProductCategory)\$(var.ProductVersion)\$(var.JVM)\MSI" Name="Path" Type="raw" />
    </Property>

    <!-- Add the shortcuts to your installer package -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CleanupMainInstallDir" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductManufacturer)\$(var.ProductCategory)\$(var.ProductVersion)\$(var.JVM)\MSI" Name="Path" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductManufacturer)\$(var.ProductCategory)\$(var.ProductVersion)\$(var.JVM)\MSI" Name="Main" Type="integer" Value="1" />
        <!-- We need to use INSTALLDIR variable here or RemoveFolderEx will not remove on "install". -->
        <util:RemoveFolderEx On="uninstall" Property="INSTALLDIR" />
        <RemoveFolder Id="PRODUCTMANUFACTURER_REMOVE" Directory="PRODUCTMANUFACTURER" On="uninstall" />
      </Component>
      <Component Id="AddToEnvironmentPath" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductManufacturer)\$(var.ProductCategory)\$(var.ProductVersion)\$(var.JVM)\MSI" Name="EnvironmentPath" Type="integer" Value="1" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]bin" Permanent="no" Part="first" Action="set" System="yes" />
      </Component>
      <Component Id="SetJavaHomeVariable" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductManufacturer)\$(var.ProductCategory)\$(var.ProductVersion)\$(var.JVM)\MSI" Name="JavaHome" Type="integer" Value="1" KeyPath="yes" />
        <Environment Id="JAVA_HOME" Name="JAVA_HOME" Value="[INSTALLDIR]" Permanent="no" Action="set" System="yes" />
      </Component>
      <!-- Add jar launch by double click -->
      <Component Id="SetJarFileRunWith" Guid="*">
        <!--
        https://support.microsoft.com/en-us/help/256986/windows-registry-information-for-advanced-users
            If you write keys to a key under HKEY_CLASSES_ROOT, the system stores the information under HKEY_LOCAL_MACHINE\Software\Classes.
            If you write values to a key under HKEY_CLASSES_ROOT, and the key already exists under HKEY_CURRENT_USER\Software\Classes, the system will store the information there instead of under HKEY_LOCAL_MACHINE\Software\Classes.

        HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.jar\OpenWithProgids
        is automatically created by Windows when running jar file for the first time
        -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.jar" Type="string" Value="AdoptOpenJDK.jarfile" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.jar" Type="string" Name="Content Type" Value="application/jar" KeyPath="no" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\AdoptOpenJDK.jarfile\shell\open\command" Type="string" Value="&quot;[INSTALLDIR]bin\javaw.exe&quot; -jar &quot;%1&quot; %*" KeyPath="no" />
      </Component>
      <Component Id="SetOracleJavaSoftKeys" Guid="*">
        <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]" Name="CurrentVersion" Type="string" Value="[ORACLE_VERSION_KEY]" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]\[ORACLE_VERSION_KEY]" Name="JavaHome" Type="string" Value="[INSTALLDIR]" KeyPath="no" />
        <?if $(env.PRODUCT_CATEGORY)="jre"?>
            <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]\[ORACLE_VERSION_KEY]" Name="RuntimeLib" Type="string" Value="[INSTALLDIR]bin\jvm.dll" KeyPath="no" />
        <!-- Oracle dont set RuntimeLib for JDK .. because JRE is "private" JRE
        <?else?>
            <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]" Name="RuntimeLib" Type="string" Value="[INSTALLDIR]jre\bin\jvm.dll" KeyPath="no" />
        -->
        <?endif?>
        <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]\$(var.ProductVersion)" Name="JavaHome" Type="string" Value="[INSTALLDIR]" KeyPath="no" />
        <?if $(env.PRODUCT_CATEGORY)="jre"?>
            <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]\$(var.ProductVersion)" Name="RuntimeLib" Type="string" Value="[INSTALLDIR]bin\jvm.dll" KeyPath="no" />
        <!-- Oracle dont set RuntimeLib for JDK .. because JRE is "private" JRE
        <?else?>
            <RegistryValue Root="HKLM" Key="SOFTWARE\JavaSoft\$(var.ProductVersion)" Name="RuntimeLib" Type="string" Value="[INSTALLDIR]jre\bin\jvm.dll" KeyPath="no" />
        -->
        <?endif?>
      </Component>
    </DirectoryRef>

    <Property Id="JAVASOFT_CURRENTVERSION">
        <RegistrySearch Id="JAVASOFT_CURRENTVERSION"
                        Root="HKLM"
                        Key="SOFTWARE\JavaSoft\[ORACLE_JAVASOFT_BASE_KEY]"
                        Name="CurrentVersion"
                        Type="raw" />
    </Property>
     
    <!-- List of features to install -->
    <Feature Id="FeatureMain" ConfigurableDirectory="INSTALLDIR" Level="1" Title="$(var.FeatureMainName)" Description="$(var.FeatureMainDescription)" Absent="disallow" Display="expand" AllowAdvertise="no" InstallDefault="local">
      <ComponentRef Id="CleanupMainInstallDir" />
      <ComponentGroupRef Id="AppFiles" />
        <Feature Id="FeatureEnvironment" Level="1" Title="!(loc.FeatureEnvironmentTitle)" Description="!(loc.FeatureEnvironmentDescription)" Absent="allow" AllowAdvertise="no" InstallDefault="followParent">
          <ComponentRef Id="AddToEnvironmentPath" />
        </Feature>
        <Feature Id="FeatureJarFileRunWith" Level="1" Title="!(loc.FeatureJarFileRunWithTitle)" Description="!(loc.FeatureJarFileRunWithDescription)" Absent="allow" AllowAdvertise="no" InstallDefault="followParent">
          <ComponentRef Id="SetJarFileRunWith" />
        </Feature>
      <Feature Id="FeatureJavaHome" Level="2" Title="!(loc.FeatureJavaHomeTitle)" Description="!(loc.FeatureJavaHomeDescription)" Absent="allow" AllowAdvertise="no" InstallDefault="followParent">
        <ComponentRef Id="SetJavaHomeVariable" />
      </Feature>
      
      <Feature Id="FeatureOracleJavaSoft" Level="2" Title="!(loc.FeatureOracleJavaSoftName)" Description="!(loc.FeatureOracleJavaSoftDescription)" Absent="allow" AllowAdvertise="no" InstallDefault="followParent" >
        <!-- See https://docs.oracle.com/javase/9/install/installation-jdk-and-jre-microsoft-windows-platforms.htm#JSJIG-GUID-47C269A3-5220-412F-9E31-4B8C37A82BFB -->
        <!-- As Oracle, don't override if current value is already bigger ( newer java ): "a value that is the highest installed version on the system" 
        Note !! : the reg key is not removed during uninstall if any other installer reference it
        -->
        <Condition Level="0"><![CDATA["$(var.ProductVersion)" ~< JAVASOFT_CURRENTVERSION]]></Condition>
        <ComponentRef Id="SetOracleJavaSoftKeys" />
      </Feature>
    </Feature>
    <!-- <Feature Id="FeatureSource" ConfigurableDirectory="INSTALLDIR" Level="1" Title="!(loc.FeatureSourceTitle)" Description="!(loc.FeatureSourceDescription)" Absent="allow" AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="SrcFiles" />
    </Feature> -->

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SetupResourcesDir)\license-OpenJ9.en-us.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SetupResourcesDir)\wix-dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SetupResourcesDir)\wix-banner.bmp" />
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
    </UI>
  </Product>
</Wix>
