name: Check Linux Packages
on:
  push:
    branches: [ master ]
    paths:
      - 'linux/ca-certificates/**'
      - '.github/workflows/cacert-publish.yml'

permissions:
  contents: read

jobs:
  publish-ca-certificates:
    # if: github.repository == 'adoptium/installer'
    name: "Publish ca-certificates"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./linux

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

      - uses: actions/setup-java@de1bb2b0c5634f0fc4438d7aa9944e68f9bf86cc # v3.6.0
        with:
          java-version: '17'
          java-package: jdk
          architecture: x64
          distribution: 'temurin'

      - name: Build
        run: |
          export _JAVA_OPTIONS="-Xmx4G"
          ./gradlew --parallel :ca-certificates:check --stacktrace

      - name: Check if deb file exists in Artifactory
        id: check-deb
        run: |
          FILE=$(ls ca-certificates/debian/build/ospackage/*.deb)
          curl -s -o /dev/null -w "%{http_code}" https://packages.adoptium.net/artifactory/deb/pool/main/a/adoptium-ca-certificates/${FILE}

      - name: Upload deb file to Artifactory
        if: steps.check-deb.outputs.stdout == 404
        run: |
          debVersionList=("buster" "bullseye" "bionic" "focal" "jammy" "kinetic")
          for debVersion in "${debVersionList[@]}"; do
            distroList+="deb.distribution=${debVersion};"
          done
          FILE=$(ls ca-certificates/debian/build/ospackage/*.deb)
          curl -u ${ARTIFACTORY_USER}:${ARTIFACTORY_PASSWORD} \
          -X PUT -T $FILE "https://packages.adoptium.net/artifactory/deb/pool/main/a/adoptium-ca-certificates/${FILE};${distroList}"
        env:
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
