name: Check Linux Packages
on:
  pull_request:
    branches: [ master ]
    paths:
      - 'linux/**'
      - '.github/workflows/linux.yml'

# Cancel existing runs if user makes another push.
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  check-ca-certificates:
    name: "Check ca-certificates"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./linux

    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0

      - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.8.0
        with:
          java-version: '17'
          java-package: jdk
          architecture: x64
          distribution: 'temurin'

      - name: Build
        run: |
          export _JAVA_OPTIONS="-Xmx4G"
          ./gradlew --parallel :ca-certificates:check --stacktrace

      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        if: always() # always run even if the previous step fails
        with:
          name: test-results
          path: '**/build/test-results/**/TEST-*.xml'

  check-jdk-packages:
    name: "Check ${{ matrix.product.name }} ${{ matrix.product.version }} ${{ matrix.distro }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./linux
    strategy:
      fail-fast: false
      matrix:
        distro: [Alpine, Debian, RedHat, Suse]
        product: [
          { name: temurin, version: 8 },
          { name: temurin, version: 11 },
          { name: temurin, version: 17 },
          { name: temurin, version: 19 }
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0

      - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.8.0
        with:
          java-version: '17'
          java-package: jdk
          architecture: x64
          distribution: 'temurin'

      - name: Build # only simulate in Jenkins when select ARCH="all"
        run: |
          export _JAVA_OPTIONS="-Xmx4G"
          export DOCKER_BUILDKIT=1
          ./gradlew --parallel packageJdk${{ matrix.distro }} checkJdk${{ matrix.distro }} -PPRODUCT=${{ matrix.product.name }} -PPRODUCT_VERSION=${{ matrix.product.version }} --stacktrace

      - name: Relocate test results
        if: always() # always run even if the previous step fails
        run: |
          mkdir ${{ matrix.product.version }}
          mv jdk ${{ matrix.product.version }}

      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        if: always() # always run even if the previous step fails
        with:
          name: test-results
          path: '**/build/test-results/**/TEST-*.xml'

  # Ensures we don't accept a Gradle Wrapper update that has been tampered with.
  validation:
    name: "Validate Gradle Wrapper"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1.0.5
